.Event {
    width: 75%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    background-color: #F0E68C;
}

.GuestEvent {
    width: 75%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    display: flex;
    background-color: #00FA9A;
}

.Text {
    width: 70%;
    float: left;
}

.ButtonSide {
    width: 30%;
    float: right;
    padding: 45px 0px 0px;
}

.GuestButtonSide {
    width: 30%;
    float: right;
    padding: 65px 0px 0px;
}

.ButtonSide button,
.GuestButtonSide button {
    overflow-wrap: break-word;
    padding: 6px 2px;
}

p {
    text-align: left;
}

button {
    width: 80%;
}

.ErrorMessage {
    color: #DC143C;
}