.Auth {
    margin: 125px auto;
    width: 55%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.Auth button {
    width: 25%;
    display: block;
    margin: 0 auto;
}

.AuthSwitch {
    margin-top: 30px;
    
}

.ErrorMessage {
    color: #DC143C;
}