.YourChatMessage {
    padding: 5px 5px 5px 5px;
    text-align: left;
    background-color: skyblue;
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px #ccc;
    width: 45%;
    word-wrap: break-word;
    float: right;
    margin: 5px 5px 5px 0px;
    margin-left: 100%;
}

.OtherChatMessage {
    padding: 5px 5px 5px 5px;
    text-align: left;
    background-color: #DCDCDC;
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px #ccc;
    width: 45%;
    word-wrap: break-word;
    float: left;
    margin: 5px 0px 5px 5px;
    margin-right: 100%;
}

/* .YourChatMessage p,
.OtherChatMessage p {
    text-align: left;
} */

.ContentField {
    text-align: left;
    margin: 0;
}

.UsernameField {
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;
}

.DateField {
    margin-top: 0;
    margin-bottom: 0;
    color: #808080;
    text-align: right;
    font-style: italic;
}