.YourChatMessage {
    padding: 5px 5px 5px 5px;
    text-align: left;
    background-color: skyblue;
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px #ccc;
    width: 45%;
    word-wrap: break-word;
    float: right;
    margin: 5px 5px 5px 0px;
    margin-left: 100%;
}

.OtherChatMessage {
    padding: 5px 5px 5px 5px;
    text-align: left;
    background-color: #DCDCDC;
    border: 1px solid #aaa;
    box-shadow: 0 1px 2px #ccc;
    width: 45%;
    word-wrap: break-word;
    float: left;
    margin: 5px 0px 5px 5px;
    margin-right: 100%;
}

.YourChatMessage p,
.OtherChatMessage p {
    margin: 0;
    text-align: left;
}