button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

button:hover {
    background-color: #ddd;
    color: black;
}

.ButtonPrev {
    background-color: #f1f1f1;
    color: black;
}

.ButtonNext {
    background-color: #4169E1;
    color: white;
} 

@media (min-height: 800px) {
    .ButtonPrev,
    .ButtonNext {
        height: 30px;
    }
}

@media (min-height: 1200px) {
    .ButtonPrev,
    .ButtonNext {
        height: 40px;
    }
}