.CalendarContainer,
.Calendar,
.CalendarHeader,
td,
tr {
    padding: 0;
    margin: 0;
}

.MonthListTable {
    margin: auto;
    font-size: 1.0em;
} 

.CalendarContainer {
    border: 2px solid skyblue;
    width: 100%;
}

.Calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.CalendarHeader {
    border-bottom: 1px dashed skyblue;
    /* font-size: 1.6em; */
    text-align: center;
}

.CalendarHeader td {
    border-spacing: 0;
    padding-left: 5px;
}

.EmptySlot {
    height: 24px;
}

.Day,
.WeekDay {
    text-align: center;
    height: 40px;
}

.WeekDay {
    font-size: 1.0em;
}

.Day {
    font-size: 0.8em;
}

.Day {
    cursor: pointer;
    width: 24px;
    height: 24px;
    line-height: 24px;
}

.CurrentDay {
    text-align: center;
    font-size: 0.8em;
    background-color: #4285f4;
    /* width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%; */
    color: white;
}
.SelectedDay {
    background-color:yellow;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 2%;
    color: black;
}

.MonthPopup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
}

.MonthPopup div {
    padding: 0.3em;
}

.NavMonth {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.EditorYear {
    max-width: 3.6em;
}

.LabelMonth,
.LabelYear {
    font-size: 2.2em;
}

.LabelMonth {
    cursor: pointer;
}