.Modal {
    width: 50%;
    position: fixed;
    background-color: white;
    border: 1px solid #aaa;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    left: 25%;
    top: 40%;
    z-index: 200;
}