.List {
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    width: 65%;
    height: 300px;
    border: 2px solid #F0E68C;
    box-shadow: 0 2px 3px #ccc;
    background-color: #F0E68C;
}

.GuestList {
    text-align: center;
    margin: auto;
    overflow-y: scroll;
    width: 65%;
    height: 300px;
    border: 2px solid #00FA9A;
    box-shadow: 0 2px 3px #ccc;
    background-color: #00FA9A;
}

@media (min-height: 400px) {
    .List {
        height: 225px;
    }

    .GuestList {
        height: 225px;
    }
} 

@media (min-height: 600px) {
    .List {
        height: 300px;
    }

    .GuestList {
        height: 300px;
    }
} 

@media (min-height: 800px) {
    .List {
        height: 400px;
    }

    .GuestList {
        height: 400px;
    }
} 

@media (min-height: 1200px) {
    .List {
        height: 600px;
    }

    .GuestList {
        height: 600px;
    }
} 