.ChatsPage {
    /* margin: 0px 50px; */
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.ChatsHeader {
    text-align: center;
}

.ChatsHeader h1 {
    margin-bottom: 0;
}

.ChatsHeader h3 {
    margin-top: 0;
}

.GroupChat {
    /* margin: 0px 50px; */
    width: 80%;
    align-items: center;
}

.MessageForm {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.MessageForm input {
    width: 65%;
}

.MessageForm button {
    width: 15%;
}

.MessageList {
    display: block;
    overflow-y: scroll;
    height: 1000px;
} 