.CalendarContainer,
.Calendar,
.CalendarHeader,
td,
tr {
    padding: 0;
    margin: 0;
}

.CalendarHeader span:hover,
tbody td:hover {
    color: red;
}

table {
    margin: auto;
}

h1 {
    margin: 20px auto;
    text-align: center;
}

.CalendarContainer {
    border: 2px solid skyblue;
    box-shadow: 0 2px 3px #ccc;
    margin: 150px auto 75px;
    width: 55%;
}

.Calendar {
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.CalendarHeader {
    border-bottom: 1px dashed skyblue;
    /* font-size: 1.6em; */
    text-align: center;
}

.CalendarHeader td {
    border-spacing: 0;
    padding-left: 5px;
}

.EmptySlot {
    width: 14%;
    line-height: 350%;
    border: 1px solid #C0C0C0;
}

.Day {
    text-align: center;
    font-size: 0.8em;
    cursor: pointer;
    width: 14%; 
    line-height: 350%;
    border: 1px solid #C0C0C0;
}

.CurrentDay {
    text-align: center;
    font-size: 0.8em;
    background-color: #4285f4;
    width: 14%;
    line-height: 350%;
    color: white;
    border: 1px solid #C0C0C0;
    cursor: pointer;
}

.EventDay {
    text-align: center;
    font-size: 0.8em;
    background-color: #FFD700;
    color: white;
    border: 1px solid #C0C0C0;
    cursor: pointer;
    width: 14%;
    line-height: 350%;
}

.EventCurrentDay {
    text-align: center;
    font-size: 0.8em;
    background-color: #FFD700;
    color: #4285f4;
    border: 2px solid #4285f4;
    cursor: pointer;
    width: 14%;
    line-height: 350%;
}

.MonthPopup {
    position: absolute;
    padding: 5px;
    background: white;
    border: 2px solid skyblue;
}

.MonthPopup div {
    padding: 0.3em;
}

.NavMonth {
    position: absolute;
    top: 0.6em;
    font-size: 0.6em;
    right:3px;
}

.EditorYear {
    max-width: 3.6em;
}