.GuestList {
    width: 20%;
    height: 980px;
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 1px 1px lightgray;
}

.GuestList h3 {
    text-align: center;
}

.GuestList p {
    width: 80%;
    height: 20px;
    margin: 10px auto;
    border: 1px solid grey;
    box-shadow: 1px 1px lightgray;
}

.Guests {
    overflow-y: scroll;
    height: 850px;
}

.InviteForm {
    width: 100%;
    display: block;
    text-align: center;
}

.InviteForm input {
    width: 100%;
}

.WarningMessage {
    color: #DC143C;
}