.GuestList {
    width: 20%;
    height: 985px;
    margin: 0;
    padding: 10px;
    border: 1px solid grey;
    box-shadow: 1px 1px lightgray;
}

.GuestList h3 {
    text-align: center;
    margin: 15px auto;
}

.Guests p {
    width: 80%;
    height: 20px;
    margin: 10px auto;
    border: 1px solid grey;
    box-shadow: 1px 1px lightgray;
}

.Guests {
    overflow-y: scroll;
    height: 800px;
}

.InviteForm {
    width: 100%;
    display: block;
    text-align: center;
}

.InviteForm input {
    width: 100%;
    margin: 10px auto;
}

.InviteForm p {
    margin: 5px auto;
}

.WarningMessage {
    color: #DC143C;
}

@media (min-height: 400px) {
    .GuestList {
        height: 300px;
    } 

    .Guests {
        height: 115px;
    }
}

@media (min-height: 600px) {
    .GuestList {
        height: 500px;
    } 

    .Guests {
        height: 315px;
    }
}

@media (min-height: 800px) {
    .GuestList {
        height: 700px;
    } 

    .Guests {
        height: 515px;
    }
}

@media (min-height: 1200px) {
    .GuestList {
        height: 1000px;
    } 

    .Guests {
        height: 815px;
    }
}